nhr-loader/src/main/resources/wsdl/catalogus/CatalogusRelaties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/02"
		   targetNamespace="http://schemas.kvk.nl/schemas/hrip/catalogus/2015/02"
		   elementFormDefault="qualified" attributeFormDefault="unqualified"
		   version="schema.v3_0">
		   
	<xs:include schemaLocation="CatalogusMainTypes.xsd"/>

	<!--************************************* RelatieTypes *************************************-->
	<xs:complexType name="RelatieType" abstract="true">
		<xs:complexContent>
			<xs:extension base="MetExtraElementenMogenlijkheidType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RelatieRegistratieType" abstract="true">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:sequence>
					<xs:element name="relatieRegistratie" type="RegistratieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Persoon ****-->
	<xs:complexType name="PersoonRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:choice>
					<xs:element name="naamPersoon" type="NaamPersoonType"/>
					<xs:element name="natuurlijkPersoon" type="NatuurlijkPersoonType"/>
					<xs:element name="buitenlandseVennootschap" type="BuitenlandseVennootschapType"/>
					<xs:element name="eenmanszaakMetMeerdereEigenaren" type="EenmanszaakMetMeerdereEigenarenType"/>
					<xs:element name="rechtspersoon" type="RechtspersoonType"/>
					<xs:element name="rechtspersoonInOprichting" type="RechtspersoonInOprichtingType"/>
					<xs:element name="samenwerkingsverband" type="SamenwerkingsverbandType"/>
					<xs:element name="afgeslotenMoeder" type="AfgeslotenMoederType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersoonRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:choice>
					<xs:element name="naamPersoon" type="NaamPersoonType"/>
					<xs:element name="natuurlijkPersoon" type="NatuurlijkPersoonType"/>
					<xs:element name="buitenlandseVennootschap" type="BuitenlandseVennootschapType"/>
					<xs:element name="eenmanszaakMetMeerdereEigenaren" type="EenmanszaakMetMeerdereEigenarenType"/>
					<xs:element name="rechtspersoon" type="RechtspersoonType"/>
					<xs:element name="rechtspersoonInOprichting" type="RechtspersoonInOprichtingType"/>
					<xs:element name="samenwerkingsverband" type="SamenwerkingsverbandType"/>
					<xs:element name="afgeslotenMoeder" type="AfgeslotenMoederType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NatuurlijkPersoonRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:sequence>
					<xs:element name="natuurlijkPersoon" type="NatuurlijkPersoonType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NietNatuurlijkPersoonRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:choice>
					<xs:element name="buitenlandseVennootschap" type="BuitenlandseVennootschapType"/>
					<xs:element name="eenmanszaakMetMeerdereEigenaren" type="EenmanszaakMetMeerdereEigenarenType"/>
					<xs:element name="rechtspersoon" type="RechtspersoonType"/>
					<xs:element name="rechtspersoonInOprichting" type="RechtspersoonInOprichtingType"/>
					<xs:element name="samenwerkingsverband" type="SamenwerkingsverbandType"/>
					<xs:element name="afgeslotenMoeder" type="AfgeslotenMoederType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Functievervulling ****-->
	<xs:complexType name="FunctievervullingRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:choice>
					<xs:element name="aansprakelijke" type="AansprakelijkeType"/>
					<xs:element name="bestuursfunctie" type="BestuursfunctieType"/>
					<xs:element name="functionarisBijzondereRechtstoestand" type="FunctionarisBijzondereRechtstoestandType"/>
                    <xs:element name="gemachtigde" type="GemachtigdeType"/>
					<xs:element name="overigeFunctionaris" type="OverigeFunctionarisType"/>
					<xs:element name="publiekrechtelijkeFunctionaris" type="PubliekrechtelijkeFunctionarisType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** MaatschappelijkeActiviteit ****-->
	<xs:complexType name="MaatschappelijkeActiviteitRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:sequence>
					<xs:element name="maatschappelijkeActiviteit" type="MaatschappelijkeActiviteitType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MaatschappelijkeActiviteitRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="maatschappelijkeActiviteit" type="MaatschappelijkeActiviteitType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VoortzettingRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="MaatschappelijkeActiviteitRelatieRegistratieType">
				<xs:sequence>
					<xs:element name="datumVoortzetting" type="DatumIncompleetType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Onderneming ****-->
	<xs:complexType name="OndernemingRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="onderneming" type="OndernemingType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OndernemingRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:sequence>
					<xs:element name="onderneming" type="OndernemingType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Vestiging ****-->
	<xs:complexType name="VestigingRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:choice>
					<xs:element name="commercieleVestiging" type="CommercieleVestigingType"/>
					<xs:element name="nietCommercieleVestiging" type="NietCommercieleVestigingType"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VestigingenRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
				<xs:sequence>
					<xs:element name="commercieleVestiging" type="CommercieleVestigingType" minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="nietCommercieleVestiging" type="NietCommercieleVestigingType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VestigingenRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="commercieleVestiging" type="CommercieleVestigingType" minOccurs="0"  maxOccurs="unbounded"/>
					<xs:element name="nietCommercieleVestiging" type="NietCommercieleVestigingType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CommercieleVestigingRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="commercieleVestiging" type="CommercieleVestigingType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NietCommercieleVestigingRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="nietCommercieleVestiging" type="NietCommercieleVestigingType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--**** Handelsnaam ****-->
	<xs:complexType name="HandelsnaamRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="handelsnaam" type="HandelsnaamType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AansprakelijkheidRelatieRegistratieType">
		<xs:complexContent>
			<xs:extension base="RelatieRegistratieType">
				<xs:sequence>
					<xs:element name="moeder" type="NietNatuurlijkPersoonRelatieType" minOccurs="0"/>
					<xs:element name="datumIntrekking" type="DatumIncompleetType" minOccurs="0"/>
					<xs:element name="verklaring" type="DeponeringRelatieType" minOccurs="0"/>
					<xs:element name="intrekking" type="DeponeringRelatieType" minOccurs="0"/>
					<xs:element name="overblijvende" type="DeponeringRelatieType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--**** Deponering ****-->
	<xs:complexType name="DeponeringRelatieType">
		<xs:complexContent>
			<xs:extension base="RelatieType">
                <xs:choice>
                    <xs:element name="aansprakelijkheidVerklaring" type="DeponeringAansprakelijkheidVerklaringType"/>
					<xs:element name="aanvullendeMededeling" type="DeponeringAanvullendeMededelingType"/>
                    <xs:element name="bijzondereDeponering" type="DeponeringBijzondereDeponeringType"/>
                    <xs:element name="aansprakelijkheidIntrekking" type="DeponeringAansprakelijkheidIntrekkingType"/>
                    <xs:element name="jaarstukHalfjaarKwartaalcijfers" type="DeponeringJaarstukHalfjaarKwartaalcijfersType"/>
                    <xs:element name="jaarstukInstemming" type="DeponeringJaarstukInstemmingType"/>
                    <xs:element name="jaarstukJaarrekening" type="DeponeringJaarstukJaarrekeningType"/>
                    <xs:element name="jaarstukJaarrekeningOngewijzigdVastgesteld" type="DeponeringJaarstukJaarrekeningOngewijzigdVastgesteldType"/>
                    <xs:element name="jaarstukOntheffing" type="DeponeringJaarstukOntheffingType"/>
                    <xs:element name="aanprakelijkheidOverblijvend" type="DeponeringAansprakelijkheidOverblijvendType"/>
                    <xs:element name="overigJaarstuk" type="DeponeringOverigJaarstukType" />
                </xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
