wsdl-resources/wsdl/stuf-bg0310-bag/bg0310_ontvangAsynchroon_bag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:BG="http://www.egem.nl/StUF/sector/bg/0310" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" name="bg0310-bag" targetNamespace="http://www.egem.nl/StUF/sector/bg/0310">
	<import namespace="http://www.egem.nl/StUF/StUF0301" location="../../0301/stuf0301_types.wsdl"/>
	<documentation>
		<xs:documentation>
			   Dit document definieert de operations en bindings voor het portType OntvangAsynchroon tbv het binnengemeentelijke koppelvlak BAG (NB: Er is geen service gedefinieerd, omdat deze operations opgenomen horen te worden binnen de wsdl voor een gemeentelijke procesapplicatie).
		
			   Versie 031001, wijzigingen vergeleken met de initiele versie waaraan geen versienummer gekoppeld was maar die we als versie 031000 beschouwen:
			   - ERR206: Import gewijzigd n.a.v. naamwijziging van het bestand 'stuf0301.types.wsdl' in 'stuf0301_types.wsdl'.
		
			   Versie 031002, wijzigingen  t.b.v. patch 21, 1-4-2015 vergeleken met versie 031001:
			   - ERR276: Operation 'Bv01' toegevoegd. Tevens zijn hier de in de operations gebruikte Bv03 en Fo03 berichten toegevoegd.
			
			   Versie 031003, wijzigingen t.b.v. patch 21 (1-4-2015) vergeleken met versie 031002 zijn de volgende wijzigingen doorgevoerd:			
			   - ERR0353: Het documentation element is voorzien van een standaard 'appinfo' structuur met daarin informatie over het schema.
			
		</xs:documentation>
		<xs:appinfo>
			<StUF:onderdeel>http://www.egem.nl/StUF/sector/bg/0310</StUF:onderdeel>
			<StUF:patch>22</StUF:patch>
			<StUF:patchdatum>20150701</StUF:patchdatum>
			<StUF:schemaversie>3</StUF:schemaversie>
		</xs:appinfo>
	</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.egem.nl/StUF/sector/bg/0310" schemaLocation="bg0310_msg_BAG.xsd"/>
		</xs:schema>
	</types>
	<message name="bagAGO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagAGO_Lk03"/>
	</message>
	<message name="bagAOC_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagAOC_Lk03"/>
	</message>
	<message name="bagBN_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagBN_Lk03"/>
	</message>
	<message name="bagCOR_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagCOR_Lk03"/>
	</message>
	<message name="bagFGO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagFGO_Lk03"/>
	</message>
	<message name="bagHER_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagHER_Lk03"/>
	</message>
	<message name="bagHLG_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagHLG_Lk03"/>
	</message>
	<message name="bagIN_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagIN_Lk03"/>
	</message>
	<message name="bagIO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagIO_Lk03"/>
	</message>
	<message name="bagMUT_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagMUT_Lk03"/>
	</message>
	<message name="bagOA_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bagOA_Lk03"/>
	</message>
	<message name="bgrBIG_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrBIG_Lk03"/>
	</message>
	<message name="bgrBSLSP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrBSLSP_Lk03"/>
	</message>
	<message name="bgrBSLLP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrBSLLP_Lk03"/>
	</message>
	<message name="bgrCOG_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrCOG_Lk03"/>
	</message>
	<message name="bgrIBV_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrIBV_Lk03"/>
	</message>
	<message name="bgrISLLP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrISLLP_Lk03"/>
	</message>
	<message name="bgrISLSP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrISLSP_Lk03"/>
	</message>
	<message name="bgrISV_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrISV_Lk03"/>
	</message>
	<message name="bgrKVO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrKVO_Lk03"/>
	</message>
	<message name="bgrMAB_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrMAB_Lk03"/>
	</message>
	<message name="bgrMSB_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrMSB_Lk03"/>
	</message>
	<message name="bgrMGB_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrMGB_Lk03"/>
	</message>
	<message name="bgrMGS_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrMGS_Lk03"/>
	</message>
	<message name="bgrOABSV_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrOABSV_Lk03"/>
	</message>
	<message name="bgrPNO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrPNO_Lk03"/>
	</message>
	<message name="bgrSSVSAMEN_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrSSVSAMEN_Lk03"/>
	</message>
	<message name="bgrSSVSPLITS_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrSSVSPLITS_Lk03"/>
	</message>
	<message name="bgrVB_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVB_Lk03"/>
	</message>
	<message name="bgrVBI_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVBI_Lk03"/>
	</message>
	<message name="bgrVBN_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVBN_Lk03"/>
	</message>
	<message name="bgrVOCDEEL_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVOCDEEL_Lk03"/>
	</message>
	<message name="bgrVOCHEEL_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVOCHEEL_Lk03"/>
	</message>
	<message name="bgrVSL_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:bgrVSL_Lk03"/>
	</message>
	<message name="braBOR_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braBOR_Lk03"/>
	</message>
	<message name="braBWP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braBWP_Lk03"/>
	</message>
	<message name="braGHO_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braGHO_Lk03"/>
	</message>
	<message name="braHNU_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braHNU_Lk03"/>
	</message>
	<message name="braHOB_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braHOB_Lk03"/>
	</message>
	<message name="braHOR_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braHOR_Lk03"/>
	</message>
	<message name="braHWP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braHWP_Lk03"/>
	</message>
	<message name="braIOR_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braIOR_Lk03"/>
	</message>
	<message name="braIWP_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braIWP_Lk03"/>
	</message>
	<message name="braOHN_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braOHN_Lk03"/>
	</message>
	<message name="braOPC_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braOPC_Lk03"/>
	</message>
	<message name="braWGW_Lk03" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<part name="body" element="BG:braWGW_Lk03"/>
	</message>
	<portType name="OntvangAsynchroon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<documentation>
		Dit portType ondersteunt als operaties alle asynchrone berichten gedefinieerd binnen het sectormodel
	</documentation>
		<operation name="Bv01">
			<input message="StUF:Bv01"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="Bv03">
			<input message="StUF:Bv03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="Fo01">
			<input message="StUF:Fo01"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="Fo03">
			<input message="StUF:Fo03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagAGO_Lk03">
			<input message="BG:bagAGO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagAOC_Lk03">
			<input message="BG:bagAOC_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagBN_Lk03">
			<input message="BG:bagBN_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagCOR_Lk03">
			<input message="BG:bagCOR_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagFGO_Lk03">
			<input message="BG:bagFGO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagHER_Lk03">
			<input message="BG:bagHER_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagHLG_Lk03">
			<input message="BG:bagHLG_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagIN_Lk03">
			<input message="BG:bagIN_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagIO_Lk03">
			<input message="BG:bagIO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagMUT_Lk03">
			<input message="BG:bagMUT_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bagOA_Lk03">
			<input message="BG:bagOA_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrBIG_Lk03">
			<input message="BG:bgrBIG_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrBSLSP_Lk03">
			<input message="BG:bgrBSLSP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrBSLLP_Lk03">
			<input message="BG:bgrBSLLP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrCOG_Lk03">
			<input message="BG:bgrCOG_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrIBV_Lk03">
			<input message="BG:bgrIBV_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrISLLP_Lk03">
			<input message="BG:bgrISLLP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrISLSP_Lk03">
			<input message="BG:bgrISLSP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrISV_Lk03">
			<input message="BG:bgrISV_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrKVO_Lk03">
			<input message="BG:bgrKVO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrMAB_Lk03">
			<input message="BG:bgrMAB_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrMSB_Lk03">
			<input message="BG:bgrMSB_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrMGB_Lk03">
			<input message="BG:bgrMGB_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrMGS_Lk03">
			<input message="BG:bgrMGS_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrOABSV_Lk03">
			<input message="BG:bgrOABSV_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrPNO_Lk03">
			<input message="BG:bgrPNO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrSSVSAMEN_Lk03">
			<input message="BG:bgrSSVSAMEN_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrSSVSPLITS_Lk03">
			<input message="BG:bgrSSVSPLITS_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVB_Lk03">
			<input message="BG:bgrVB_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVBI_Lk03">
			<input message="BG:bgrVBI_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVBN_Lk03">
			<input message="BG:bgrVBN_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVOCDEEL_Lk03">
			<input message="BG:bgrVOCDEEL_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVOCHEEL_Lk03">
			<input message="BG:bgrVOCHEEL_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="bgrVSL_Lk03">
			<input message="BG:bgrVSL_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braBOR_Lk03">
			<input message="BG:braBOR_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braBWP_Lk03">
			<input message="BG:braBWP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braGHO_Lk03">
			<input message="BG:braGHO_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braHNU_Lk03">
			<input message="BG:braHNU_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braHOB_Lk03">
			<input message="BG:braHOB_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braHOR_Lk03">
			<input message="BG:braHOR_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braHWP_Lk03">
			<input message="BG:braHWP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braIOR_Lk03">
			<input message="BG:braIOR_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braIWP_Lk03">
			<input message="BG:braIWP_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braOHN_Lk03">
			<input message="BG:braOHN_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braOPC_Lk03">
			<input message="BG:braOPC_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
		<operation name="braWGW_Lk03">
			<input message="BG:braWGW_Lk03"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation>
	</portType>
	<binding name="SOAPOntvangAsynchroon" type="BG:OntvangAsynchroon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
		<documentation>
			Omdat de uit te wisselen berichten volledig gedefinieerd zijn in het sectormodel cq de StUF-standaard, kunnen we ze zonder verdere encoding (“literal”) opnemen in de body.
Niet ondersteunde berichten kunnen uit de binding en portType worden verwijderd.
		</documentation>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Bv01">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Bv01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="Bv03">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Bv03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="Fo01">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Fo01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="Fo03">
			<soap:operation soapAction="http://www.egem.nl/StUF/StUF0301/Fo03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagAGO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagAGO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagAOC_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagAOC_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagBN_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagBN_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagFGO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagFGO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagCOR_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagCOR_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagHER_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagHER_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagHLG_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagHLG_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagIN_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagIN_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagIO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagIO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagMUT_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagMUT_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bagOA_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bagOA_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrBIG_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrBIG_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrBSLSP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrBSLSP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrBSLLP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrBSLLP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrCOG_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrCOG_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrIBV_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrIBV_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrISLLP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrISLLP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrISLSP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrISLSP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrISV_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrISV_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrKVO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrKVO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrMAB_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrMAB_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrMSB_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrMSB_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrMGB_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrMGB_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrMGS_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrMGS_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrOABSV_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrOABSV_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrPNO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrPNO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrSSVSAMEN_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrSSVSAMEN_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrSSVSPLITS_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrSSVSPLITS_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVB_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVB_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVBI_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVBI_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVBN_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVBN_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVOCDEEL_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVOCDEEL_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVOCHEEL_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVOCHEEL_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="bgrVSL_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/bgrVSL_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braBOR_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braBOR_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braBWP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braBWP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braGHO_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braGHO_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braHNU_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braHNU_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braHOB_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braHOB_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braHOR_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braHOR_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braHWP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braHWP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braIOR_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braIOR_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braIWP_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braIWP_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braOHN_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braOHN_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braOPC_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braOPC_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
		<operation name="braWGW_Lk03">
			<soap:operation soapAction="http://www.egem.nl/StUF/sector/bg/0310/braWGW_Lk03"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OntvangAsynchroon">
		<documentation>
	Hieronder wordt de concreet aan te roepen service voor het ontvangen van asynchrone BG0310-berichten gedefinieerd. 
		</documentation>
		<port name="OntvangAsynchroon" binding="BG:SOAPOntvangAsynchroon">
			<documentation>
				<wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soap:address location="http://example.com/OntvangAsynchroon"/>
		</port>
	</service>
	<!--		<operation name="Bv01">
			<input message="StUF:Bv01"/>
			<output message="StUF:Bv03"/>
			<fault name="fout" message="StUF:Fo03"/>
		</operation-->
</definitions>
