brmo-stuf/wsdl-resources/wsdl/stuf-imgeo0300-vertikaal/imgeo0300_ontvangAsynchroon_vert_LV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Maarten van den Broek (messageDesign) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:imgeo="http://www.geostandaarden.nl/imgeo/2.1/stuf-imgeo" 
	xmlns:StUF="http://www.egem.nl/StUF/StUF0301" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.geostandaarden.nl/imgeo/2.1/stuf-imgeo">
	<types>
		<xs:schema>
			   <xs:import namespace="http://www.egem.nl/StUF/StUF0301"
           schemaLocation="./imgeo0300_stuf_msg_verticaal_resolved.xsd"/>
			<xs:import namespace="http://www.geostandaarden.nl/imgeo/2.1/stuf-imgeo" 
				schemaLocation="./imgeo0300_msg_verticaal_resolved.xsd"/>
		</xs:schema>
	</types>
	<message name="opvDi01">
		<part name="body" element="imgeo:opvDi01"/>
	</message>
	<message name="Bv01">
		<part name="body" element="StUF:Bv01Bericht"/>
	</message>
	<message name="Bv02">
		<part name="body" element="StUF:Bv02Bericht"/>
	</message>
	<message name="Bv03">
		<part name="body" element="StUF:Bv03Bericht"/>
	</message>
	<message name="Bv04">
		<part name="body" element="StUF:Bv04Bericht"/>
	</message>
	<message name="Fo01">
		<part name="body" element="StUF:Fo01Bericht"/>
	</message>
	<message name="Fo02">
		<part name="body" element="StUF:Fo02Bericht"/>
	</message>
	<message name="Fo03">
		<part name="body" element="StUF:Fo03Bericht"/>
	</message>
	<message name="Tr01">
		<part name="body" element="StUF:Tr01Bericht"/>
	</message>
	<portType name="OntvangAsynchroon">
		<operation name="opvDi01">
			<input message="imgeo:opvDi01"/>
			<output message="imgeo:Bv03"/>
			<fault name="fout" message="imgeo:Fo03"/>
		</operation>
	</portType>
	<binding name="SOAPOntvangAsynchroon" type="imgeo:OntvangAsynchroon">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="opvDi01">
			<soap:operation soapAction="http://www.geostandaarden.nl/imgeo/2.0/opvDi01"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="fout">
				<soap:fault name="fout" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="OntvangAsynchroon">
		<port name="OntvangAsynchroon" binding="imgeo:SOAPOntvangAsynchroon">
			<soap:address location="http://example.com/OntvangAsynchroon"/>
		</port>
	</service>
</definitions>
