brmo-soap-client-app/src/wsdl/localhost_8080/brmo-soap/GetBrkInfoImplService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://brk.soap.brmo.b3p.nl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://brk.soap.brmo.b3p.nl/">

<xs:element name="BrkInfoException" type="tns:BrkInfoException"/>

<xs:element name="getBrkInfo" type="tns:getBrkInfo"/>

<xs:element name="getBrkInfoResponse" type="tns:getBrkInfoResponse"/>

<xs:complexType name="getBrkInfo">
<xs:sequence>
<xs:element name="request" type="tns:brkInfoRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brkInfoRequest">
<xs:sequence>
<xs:element name="bufferLengte" type="xs:int" minOccurs="0"/>
<xs:element name="identificatie" type="xs:string" minOccurs="0"/>
<xs:element name="kadOnrndZk" type="tns:kadOnrndZkInfoRequest" minOccurs="0"/>
<xs:element name="perceelAdres" type="tns:perceelAdresInfoRequest" minOccurs="0"/>
<xs:element name="subjectNaam" type="xs:string" minOccurs="0"/>
<xs:element name="zoekgebied" type="xs:string" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="adressenToevoegen" type="xs:boolean" use="required"/>
<xs:attribute name="gevoeligeInfoOphalen" type="xs:boolean" use="required"/>
<xs:attribute name="maxAantalResultaten" type="xs:int"/>
<xs:attribute name="subjectsToevoegen" type="xs:boolean" use="required"/>
</xs:complexType>

<xs:complexType name="kadOnrndZkInfoRequest">
<xs:sequence>
<xs:element name="appReVolgnummer" type="xs:string" minOccurs="0"/>
<xs:element name="gemeentecode" type="xs:string" minOccurs="0"/>
<xs:element name="identificatie" type="xs:string" minOccurs="0"/>
<xs:element name="perceelnummer" type="xs:string" minOccurs="0"/>
<xs:element name="sectie" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perceelAdresInfoRequest">
<xs:sequence>
<xs:element name="gemeenteNaam" type="xs:string" minOccurs="0"/>
<xs:element name="huisnummer" type="xs:int" minOccurs="0"/>
<xs:element name="postcode" type="xs:string" minOccurs="0"/>
<xs:element name="straatNaam" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBrkInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:brkInfoResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="brkInfoResponse">
<xs:sequence>
<xs:element name="kadOnrndZk" type="tns:kadOnrndZkInfoResponse" minOccurs="0"/>
</xs:sequence>
<xs:attribute name="bevatGevoeligeInfo" type="xs:boolean" use="required"/>
<xs:attribute name="timestamp" type="xs:dateTime"/>
</xs:complexType>

<xs:complexType name="kadOnrndZkInfoResponse">
<xs:sequence>
<xs:element name="aandSoortGrootte" type="xs:string" minOccurs="0"/>
<xs:element name="aardCultuurOnbebouwd" type="xs:string" minOccurs="0"/>
<xs:element name="adressen" type="tns:adressenResponse" minOccurs="0"/>
<xs:element name="appReVolgnummer" type="xs:string" minOccurs="0"/>
<xs:element name="bedrag" type="xs:float" minOccurs="0"/>
<xs:element name="begrenzingPerceel" type="xs:string" minOccurs="0"/>
<xs:element name="datumBeginGeldigheid" type="xs:dateTime" minOccurs="0"/>
<xs:element name="datumEindeGeldigheid" type="xs:dateTime" minOccurs="0"/>
<xs:element name="gemeentecode" type="xs:string" minOccurs="0"/>
<xs:element name="groottePerceel" type="xs:float" minOccurs="0"/>
<xs:element name="identificatie" type="xs:string" minOccurs="0"/>
<xs:element name="koopjaar" type="xs:int" minOccurs="0"/>
<xs:element name="meerOnroerendgoed" type="xs:boolean"/>
<xs:element name="omschr_deelperceel" type="xs:string" minOccurs="0"/>
<xs:element name="perceelnummer" type="xs:string" minOccurs="0"/>
<xs:element name="rechten" type="tns:rechtenResponse" minOccurs="0"/>
<xs:element name="relaties" type="tns:relatiesResponse" minOccurs="0"/>
<xs:element name="sectie" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adressenResponse">
<xs:sequence>
<xs:element name="BAGAdres" type="tns:adresResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="adresResponse">
<xs:sequence>
<xs:element name="gemeenteNaam" type="xs:string" minOccurs="0"/>
<xs:element name="huisLetter" type="xs:string" minOccurs="0"/>
<xs:element name="huisLetterToevoeging" type="xs:string" minOccurs="0"/>
<xs:element name="huisnummer" type="xs:int" minOccurs="0"/>
<xs:element name="postcode" type="xs:string" minOccurs="0"/>
<xs:element name="straatNaam" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rechtenResponse">
<xs:sequence>
<xs:element name="zakelijkRecht" type="tns:zakelijkRechtResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="zakelijkRechtResponse">
<xs:sequence>
<xs:element name="aardVerkregenRecht" type="xs:string"/>
<xs:element name="indicatieBetrokkenInSplitsing" type="xs:boolean"/>
<xs:element name="natuurlijkPersonen" type="tns:natPersonenResponse" minOccurs="0"/>
<xs:element name="nietNatuurlijkPersonen" type="tns:nietNatPersonenResponse" minOccurs="0"/>
<xs:element name="noemer" type="xs:int"/>
<xs:element name="teller" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="natPersonenResponse">
<xs:sequence>
<xs:element name="natuurlijkPersoon" type="tns:natuurlijkPersoonResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="natuurlijkPersoonResponse">
<xs:sequence>
<xs:element name="aanduidingNaamgebruik" type="xs:string" minOccurs="0"/>
<xs:element name="bsn" type="xs:string" minOccurs="0"/>
<xs:element name="geboortedatum" type="xs:dateTime" minOccurs="0"/>
<xs:element name="geboorteplaats" type="xs:string" minOccurs="0"/>
<xs:element name="geslachtsaanduiding" type="xs:string" minOccurs="0"/>
<xs:element name="geslachtsnaam" type="xs:string" minOccurs="0"/>
<xs:element name="identificatie" type="xs:string"/>
<xs:element name="locatieBeschrijving" type="xs:string" minOccurs="0"/>
<xs:element name="overlijdensdatum" type="xs:dateTime" minOccurs="0"/>
<xs:element name="voornamen" type="xs:string" minOccurs="0"/>
<xs:element name="voorvoegsel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nietNatPersonenResponse">
<xs:sequence>
<xs:element name="nietNatuurlijkPersoon" type="tns:nietNatuurlijkPersoonResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nietNatuurlijkPersoonResponse">
<xs:sequence>
<xs:element name="identificatie" type="xs:string"/>
<xs:element name="naam" type="xs:string" minOccurs="0"/>
<xs:element name="rechtsvorm" type="xs:string" minOccurs="0"/>
<xs:element name="statutaireZetel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="relatiesResponse">
<xs:sequence>
<xs:element name="grondPerceel" type="xs:string" minOccurs="0"/>
<xs:element name="historischeRelaties" type="tns:historischeRelatieResponse" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historischeRelatieResponse">
<xs:sequence>
<xs:element name="aard" type="xs:string" minOccurs="0"/>
<xs:element name="identificatie" type="xs:string"/>
<xs:element name="overgangsgrootte" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BrkInfoException">
<xs:sequence>
<xs:element name="detail" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>