brmo-soap/src/main/webapp/WEB-INF/wsdl/EigendomMutatie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://brmo.b3p.nl/brmo/1.0/eigendom" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://brmo.b3p.nl/brmo/1.0/eigendom" name="EigendomMutatieService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://brmo.b3p.nl/brmo/1.0/eigendom" schemaLocation="EigendomMutatie.xsd"/>
		</xsd:schema>
	</types>
	<message name="getEigendomMutaties">
		<part name="parameters" element="tns:getEigendomMutaties"/>
	</message>
	<message name="getEigendomMutatiesResponse">
		<part name="parameters" element="tns:getEigendomMutatiesResponse"/>
	</message>
	<message name="EigendomMutatieException">
		<part name="fault" element="tns:EigendomMutatieException"/>
	</message>
	<message name="getMutatieList">
		<part name="parameters" element="tns:getMutatieList"/>
	</message>
	<message name="getMutatieListResponse">
		<part name="parameters" element="tns:getMutatieListResponse"/>
	</message>
	<portType name="EigendomMutatieService">
		<operation name="getEigendomMutaties">
			<input wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getEigendomMutatiesRequest" message="tns:getEigendomMutaties"/>
			<output wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getEigendomMutatiesResponse" message="tns:getEigendomMutatiesResponse"/>
			<fault message="tns:EigendomMutatieException" name="EigendomMutatieException" wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getEigendomMutaties/Fault/EigendomMutatieException"/>
		</operation>
		<operation name="getMutatieList">
			<input wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getMutatieListRequest" message="tns:getMutatieList"/>
			<output wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getMutatieListResponse" message="tns:getMutatieListResponse"/>
			<fault message="tns:EigendomMutatieException" name="EigendomMutatieException" wsam:Action="http://brmo.b3p.nl/brmo/1.0/eigendom/EigendomMutatieService/getMutatieList/Fault/EigendomMutatieException"/>
		</operation>
	</portType>
	<binding name="EigendomMutatieServicePortBinding" type="tns:EigendomMutatieService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<operation name="getEigendomMutaties">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="EigendomMutatieException">
				<soap:fault name="EigendomMutatieException" use="literal"/>
			</fault>
		</operation>
		<operation name="getMutatieList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="EigendomMutatieException">
				<soap:fault name="EigendomMutatieException" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="EigendomMutatieService">
		<port name="EigendomMutatieServicePort" binding="tns:EigendomMutatieServicePortBinding">
			<soap:address location="http://localhost:8080/brmo-soap/EigendomMutatieService"/>
		</port>
	</service>
</definitions>
