brmo-topnl-loader/src/main/resources/nl/b3p/topnl/top50nl/standaardGML/XSD-Resolver/input/Configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 rel. 2 sp2 (http://www.altova.com) by Robert Melskens (Kwaliteits Instituut Nederlandse Gemeenten) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.kinggemeenten.nl/2011/applicationConfiguration" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kinggemeenten.nl/2011/applicationConfiguration">
	<xs:simpleType name="ST_prefix">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cgml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_message">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bv01Bericht"/>
			<xs:enumeration value="Bv02Bericht"/>
			<xs:enumeration value="Bv03Bericht"/>
			<xs:enumeration value="Bv04Bericht"/>
			<xs:enumeration value="Fo01Bericht"/>
			<xs:enumeration value="Fo02Bericht"/>
			<xs:enumeration value="Fo03Bericht"/>
			<xs:enumeration value="Tr01Bericht"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="standardApplicableMessages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="schemaName" type="xs:string"/>
	<xs:element name="schema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schemaName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="restrictionMode" type="xs:boolean"/>
	<xs:element name="resolve">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="processingParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="restrictionMode"/>
				<xs:element ref="path"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="prefix">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_prefix">
					<xs:attribute name="namespace" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="http://www.opengis.net/citygml/2.0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pathSectormodel" type="xs:string"/>
	<xs:element name="path" type="xs:string"/>
	<xs:element name="namespacePrefixes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prefix" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="namespace">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.opengis.net/gml"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_message">
					<xs:attribute name="namespace" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:anyURI">
								<xs:enumeration value="http://www.egem.nl/StUF/StUF0301"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="doNotResolve">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="schema" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="configurationSectorModel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pathSectormodel"/>
				<xs:element ref="resolve"/>
				<xs:element ref="doNotResolve" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="domain">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="active" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="no"/>
						<xs:enumeration value="yes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Id">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="processingParameters"/>
				<xs:element ref="standardApplicableMessages" minOccurs="0"/>
				<xs:element ref="namespacePrefixes" minOccurs="0"/>
				<xs:element ref="configurationSectorModel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
