wsdl-resources/tools/XSD-Resolver/xsd-bgt-berichtenstandaard-1.2-imgeo0301/0301/stuf0301_types.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:StUF="http://www.egem.nl/StUF/StUF0301" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="StUF" targetNamespace="http://www.egem.nl/StUF/StUF0301">
	<documentation>
		Versie 030102, wijzigingen vergeleken met versie 030101:
		- ERR206: Bestandsnaam 'stuf0301.types.wsdl' gewijzigd in 'stuf0301_types.wsdl' conform erratum ERR192.
	</documentation>
	<types>
		<xs:schema>
			<xs:import namespace="http://www.egem.nl/StUF/StUF0301" schemaLocation="stuf0301.xsd"/>
		</xs:schema>
	</types>
	<message name="Bv01">
		<part name="body" element="StUF:Bv01Bericht"/>
	</message>
	<message name="Bv02">
		<part name="body" element="StUF:Bv02Bericht"/>
	</message>
	<message name="Bv03">
		<part name="body" element="StUF:Bv03Bericht"/>
	</message>
	<message name="Bv04">
		<part name="body" element="StUF:Bv04Bericht"/>
	</message>
	<message name="Fo01">
		<part name="body" element="StUF:Fo01Bericht"/>
	</message>
	<message name="Fo02">
		<part name="body" element="StUF:Fo02Bericht"/>
	</message>
	<message name="Fo03">
		<part name="body" element="StUF:Fo03Bericht"/>
	</message>
	<message name="Tr01">
		<part name="body" element="StUF:Tr01Bericht"/>
	</message>
</definitions>
